.hero{
    width:100%;
    min-height: 100vh;
    background:  url('../../assets/img.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    margin-left: 0;
}

.hero-text{
    text-align: left;
    /* margin-left: 20px; */
    max-width: 800px;
    animation: 2s fadeInUp;
}
.hero-text .color{
  color: rgb(241, 106, 106);
}
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}


.hero-text h1{
    font-size: 60px;
    font-weight: 600;
}
.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}

.btnnav{
    background: #fff;
    color: #212121;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  
  }
  
  .btnnav img {
    width: 22px;
    margin-left: 10px;
  }
  .btnnav:hover{
    background-color: #16235e;
    color: white;
  }


  