.immunizations-container{
    height: 500px;
    width: 100%;
}



.banner-i{
   background-image: url('../../assets/vaccine-1.jpeg');
   background-repeat: no-repeat;
   
   background-size:  cover;
   opacity: 80%;
   height: 300px;

   display: flex;
  justify-content: center;  /* Horizontally center */
  align-items: center;      /* Vertically center */
 

}




.i-title{
  
    /* align-content: center;
    text-align: center; */
   
    font-size: 3rem;
   text-align: center;
}

.i-cards{
   
    
   

    height:400px;
   
    width:100%;
    display: flex;
    justify-content: space-between;
   
    padding: 20px;
    /* background-image: url('../../assets/blob-1.svg'); */
    background-image: url('../../assets/blob-scene.png');
   background-repeat: no-repeat;
   background-size: cover;
}

.i-cards .i-left{
    /* position: absolute;
    flex: 7;
    background-color: aqua;
    height: 200px;
    width: 70%; */

    justify-content: center;
    align-items: center;
    margin-left: 8%;
    padding-right: 20px;
    width:30%;
    margin-top: 8%;
    flex: 5;
}

.i-left{
    line-height: 1;

    color: #fff;
	/* display: inline-block;
	position: relative; */
    font-size: 2.8rem; /* 36 / 18 = 2 */
    margin-bottom: 0.3rem;
    font-family: 'Merriweather';
    font-style: italic;
    text-align: left;

}

.i-left .btn-i{
        /* background: linear-gradient(to right, #5d508d, #376f95); */
        color: #fff;
        padding: 14px 25px;
        font-size: 16px;
        border-radius: 30px;
        cursor: pointer;
        margin-top: 20px;
        border: 0;
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        background-color: #50b875;
        color: white;
        padding-top: 10px;
        background: linear-gradient(to left, #50b875 50%, #fff 50%) right;
        background-size: 200%;
        transition: .5s ease-out;


        /* transition: background-position 0.5s ease; /* Smooth transition */
        background-size: 200% 100%; /* Allow space for the gradient movement */
        background-position: right; /* Start position 

        
        
        */
       
      }
      
      .iimg{
        border-radius: 20px;
      }

      .iimg1{
        border-radius: 20px;
        margin-left: 50%;
      }
      .btn-i img {
        width: 22px;
        margin-left: 10px;
        transition: transform 0.5s;
        
      }
      
      .btn-i:hover{
        background-position: left; /* End position on hover */
        color: black;
       
      }
    
      .btn-i:hover .arrow{
        transform: rotate(-45deg);
      }
    
    


 .i-right{
   /* position: absolute;
   flex: 3;
   background-color: bisque; */
   height: 200px;
   /* width: 30%; */
   justify-content: center;
   align-items: center;
   align-items: center;
   
   flex: 5;
  
   font-family: 'Merriweather';
   font-size: 2.0rem; /* 117 / 18 = 6.5 */
   margin-bottom: 0.25385rem;
  
  

   line-height: 1;

    color: #fff;
	/* display: inline-block;
	position: relative; */
    font-size: 2.8rem; /* 36 / 18 = 2 */
    margin-bottom: 0.3rem;
    
    text-align: left;

}

.bg{
  
  
    background-image: url('../../assets/blob-scene.png');
}


.time{
    /* text-align: center; */
    font-family: 'Merriweather';
    font-size: 1.8rem; /* 117 / 18 = 6.5 */
    margin-bottom: 0.25385rem;
    justify-content: center;
    margin-top: 5%;
    margin-left: 40px;

}

.time span{
    color:#50b875;
}

.aimg{
    border-radius: 15px;
    overflow: hidden;
    height:300px;
    width: 500px;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-top: 8%;
}
.vaccine {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 30px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  /* #aac7da */
  .vaccine-card {
    background-color:  rgb(98, 184, 122);

    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .vaccine-card:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .vaccine-card h2 {
    margin-bottom: 15px;
    color: #fff;
  }
  
  .vaccine-card p {
    margin: 5px 0;
    color: #333;
    font-size: 20px;
  }
  
  .vaccine-card strong {
    color: #000;
  }
  