

.serv-cont{
  scroll-margin-top: 70px;
}
.services-container{
    margin-top: 40px;
    
}
  .service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    padding-right: 30px;
    column-gap: 30px;
    margin-bottom: 35px;
  }
  
  .service-left {
    flex: 40%;
    /* margin-left: 40px; */
    align-items: center;
    justify-content: center;
    /* padding-left: 40px; */
    position: relative;
    padding-top: 20px;
   
  }
  .service-right{
    flex: 50%;
    /* margin-left: 40px; */
    align-items: center;
    justify-content: center;
    /* padding-left: 40px; */
  }
  
 .service-left {
    order: 1;
  }
  
  .service-right {
    order: 2;
  } 
  .servimg {
    width: 100%;
    max-width: 500px; /* Adjust as needed */
    height: 450px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
  
   .service.right .service-left {
    order: 2;
  }
  /*
  .service-left .servimg{
    /* animation: slideInRight 4s ease-in;
    opacity: 0; */
    /* opacity: 0;  Initially hide the image 
  transform: translateX(-50px); /* Position it off-screen to the right 
  transition: all 3s ease-in-out;
  } */
  .service.left .servimg.animate{
    opacity: 1;
  transform: translateX(0);
  }
  /*
  .service.right .servimg{
     animation: slideInRight 4s ease-in;
    opacity: 0; 
    opacity: 0;  Initially hide the image 
  transform: translateX(50px); Position it off-screen to the right 
  transition: all 3s ease-in-out ;
  transition-delay: 0.3s;

  }
  .service.right .servimg.animate{
    opacity: 1;
  transform: translateX(0);
  }*/
  .service.right .service-right {
    order: 1;
  } 
  
  .services-container h3 {
    font-size: 25px;
    font-weight: 600;
    font-weight: 16px;
    color: #2ecc70d7;
    /* color:#436eb3; */
    max-width: 900px;

    margin-bottom: 10px;
  }
  
  .services-container h2 {
    
    font-size: 35px;
    color:  #001f3f;;
    /* color: #3939be; */
    margin: 10px 0;
    max-width: 600px;

    margin-bottom: 20px;
  }
  
  .services-container p {
    
    font-weight: 200;
    color: #000;
    margin-bottom: 15px;
    font-size: 30px;

  }

      
      

/* 
@keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .service-left img {
    animation: slideInLeft 2s ease-in;
  }
  .service-right img {
    animation: slideInRight 2s ease-in;
  }
   */
  .stitle .seh2{
    font-size: 100px;
    font-weight: 300;
    color: #001f3f;
    align-items: center;
    justify-items: center;
    padding-left: 20px;
    text-align: center;
    
 }
 
 .stitle .seh3{
   font-size: 30px;
   font-weight: 300;
   color: #2ecc70d7;
   align-items: center;
   justify-items: center;
   padding-left: 20px;
   text-align: center;
   
 }
 
 .stitle .pride-text{
  
    background: linear-gradient(
    to right, 
    #ff0000 20%,  /* Red */
        #ff8c00 25%,  /* Orange */
        #ffff00 40%,  /* Yellow */
        #008000 55%,  /* Green */
        #0000ff 75%,  /* Blue */
        #8b00ff 90%   /* Purple */
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 30px;
   font-weight: 300;
   align-items: center;
   justify-items: center;
   padding-left: 20px;
   text-align: center;
  
 }